[project]
	description = Genuitec tools for EGit and Gerrit Workflow
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Piotr Tomiak (piotrtomiak)
[access "refs/for/refs/*"]
	read = group user/Piotr Tomiak (piotrtomiak)
	push = group user/Piotr Tomiak (piotrtomiak)
	label-Code-Review = -2..+2 group user/Piotr Tomiak (piotrtomiak)
	label-Verified = -1..+1 group user/Piotr Tomiak (piotrtomiak)
	rebase = group user/Piotr Tomiak (piotrtomiak)
	removeReviewer = group user/Piotr Tomiak (piotrtomiak)
	submit = group user/Piotr Tomiak (piotrtomiak)
[access "refs/heads/*"]
	read = group user/Piotr Tomiak (piotrtomiak)
	create = group user/Piotr Tomiak (piotrtomiak)
	push = +force group user/Piotr Tomiak (piotrtomiak)
	pushMerge = group user/Piotr Tomiak (piotrtomiak)
[access "refs/tags/*"]
	push = +force group user/Piotr Tomiak (piotrtomiak)
	pushTag = group user/Piotr Tomiak (piotrtomiak)
	pushSignedTag = group user/Piotr Tomiak (piotrtomiak)
