<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.genuitec.eclipse.gerrit.tools.internal.gps.commands.ImportProjectsHandler"
            id="com.genuitec.eclipse.gerrit.tools.importProjects"
            name="Import Gerrit Project Set">
         <commandParameter
               id="file"
               name="File"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="com.genuitec.eclipse.gerrit.tools.internal.gps.commands.ExportProjectsHandler"
            id="com.genuitec.eclipse.gerrit.tools.exportProjects"
            name="Export Gerrit Project Set">
      </command>
      <command
            defaultHandler="com.genuitec.eclipse.gerrit.tools.internal.utils.commands.TagAndPushHandler"
            id="com.genuitec.eclipse.gerrit.tools.tagAndPush"
            name="Create and Push Tag...">
      </command>
      <!-- feature branch management -->
      <command
            defaultHandler="com.genuitec.eclipse.gerrit.tools.internal.fbranches.commands.CreateFeatureBranchCommand"
            id="com.genuitec.eclipse.gerrit.tools.newFeatureBranch"
            name="New Feature Branch...">
      </command>
      <command
            defaultHandler="com.genuitec.eclipse.gerrit.tools.internal.fbranches.commands.SwitchToBranchCommand"
            id="com.genuitec.eclipse.gerrit.tools.switchToBranch"
            name="Switch to Branch">
      	<commandParameter
             id="branch.ref"
             name="Branch"
             optional="false"/>
       <commandParameter
             id="all.repos"
             name="All Repositories"
             optional="true">
       </commandParameter>
      </command>
      <command
            defaultHandler="com.genuitec.eclipse.gerrit.tools.internal.fbranches.commands.MergeStableIntoCurrentBranchCommand"
            id="com.genuitec.eclipse.gerrit.tools.mergeStableIntoCurrent"
            name="Merge Stable into Currect">
      	<commandParameter
             id="branch.ref"
             name="Stable Branch"
             optional="false"/>
      </command>
      <command
            defaultHandler="com.genuitec.eclipse.gerrit.tools.internal.fbranches.commands.DeleteFeatureBranchCommand"
            id="com.genuitec.eclipse.gerrit.tools.deleteFeatureBranch"
            name="Delete Feature Branch...">
      	<commandParameter
             id="branch.ref"
             name="Feature Branch"
             optional="false"/>
      </command>
      <command
      		defaultHandler="com.genuitec.eclipse.gerrit.tools.internal.fbranches.commands.EmptyHandler"
            id="com.genuitec.eclipse.gerrit.tools.switchAllBranches"
            name="Switch all Repositories to Feature Branch...">
      </command>
      <!-- changes management -->
      <command
            defaultHandler="com.genuitec.eclipse.gerrit.tools.internal.changes.commands.NewChangeBranchCommand"
            id="com.genuitec.eclipse.gerrit.tools.newChangeBranch"
            name="New Change Branch...">
      </command>
      <command
            defaultHandler="com.genuitec.eclipse.gerrit.tools.internal.changes.commands.SwitchToChangeBranchCommand"
            id="com.genuitec.eclipse.gerrit.tools.switchToChangeBranch"
            name="Switch to Change">
      	<commandParameter
             id="branch.ref"
             name="Branch"
             optional="false"/>
      </command>
      <command
            defaultHandler="com.genuitec.eclipse.gerrit.tools.internal.changes.commands.FetchChangeCommand"
            id="com.genuitec.eclipse.gerrit.tools.fetchChange"
            name="Fetch from Gerrit...">
      </command>
      <command
            defaultHandler="com.genuitec.eclipse.gerrit.tools.internal.changes.commands.CleanupChangesCommand"
            id="com.genuitec.eclipse.gerrit.tools.cleanupChanges"
            name="Cleanup...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.egit.ui.RepositoriesView?before=repo-0">
         <menu
        		label="Switch to Gerrit Stable Branch"
        		id="switch-to-stable"
           		icon="icons/branches.gif">
            <dynamic
               id="switch.branch.stable"
               class="com.genuitec.eclipse.gerrit.tools.internal.fbranches.commands.BranchActionsProvider"/>
            <visibleWhen checkEnabled="false">
            	<and>
	            	<count value="+"/>
	            	<iterate operator="and">
	            		<and>
		            		<or>
		            			<instanceof value="org.eclipse.egit.ui.internal.repository.tree.RepositoryNode"/>
		            			<instanceof value="org.eclipse.egit.ui.internal.repository.tree.BranchesNode"/>
		            			<instanceof value="org.eclipse.egit.ui.internal.repository.tree.LocalNode"/>
		            		</or>
		            		<test property="GitRepository.hasGerritConfiguration"/>
		            	</and>
	            	</iterate>
	            </and>
            </visibleWhen>
         </menu>
         <menu
               label="Gerrit Feature Branches"
               id="me-feature-branches"
               icon="icons/feature-branches.gif">
        	<command 
        			commandId="com.genuitec.eclipse.gerrit.tools.newFeatureBranch"
        			icon="icons/feature-branch-new.gif"/>
            <separator name="feature-0" visible="true"/>
        	<menu
        		label="Switch to Feature Branch"
        		id="switch-to"
        		icon="icons/feature-branches.gif">
	        	<dynamic
	               id="switch.branch.feature.user"
	               class="com.genuitec.eclipse.gerrit.tools.internal.fbranches.commands.BranchActionsProvider"/>
	            <dynamic
	               id="switch.branch.feature.others"
	               class="com.genuitec.eclipse.gerrit.tools.internal.fbranches.commands.BranchActionsProvider"/>
	        </menu>
            <separator name="feature-1" visible="true"/>
            <menu
                  label="Update with Changes from Stable"
                  id="update-with-stable"
                  icon="icons/merge-stable.gif">
            	<dynamic
                   id="merge.branch.stable"
                   class="com.genuitec.eclipse.gerrit.tools.internal.fbranches.commands.BranchActionsProvider"/>
            </menu>
            <menu 
            	  label="Delete Feature Branch"
            	  id="delete-feature-branch"
            	  icon="icons/feature-branch-delete.gif">
            	<dynamic
                   id="delete.branch.feature.user"
                   class="com.genuitec.eclipse.gerrit.tools.internal.fbranches.commands.BranchActionsProvider"/>
            	<dynamic
                   id="delete.branch.feature.others"
                   class="com.genuitec.eclipse.gerrit.tools.internal.fbranches.commands.BranchActionsProvider"/>
            </menu>
            <visibleWhen checkEnabled="false">
            	<and>
	            	<count value="+"/>
	            	<iterate operator="and">
	            		<and>
		            		<or>
		            			<instanceof value="org.eclipse.egit.ui.internal.repository.tree.RepositoryNode"/>
		            			<instanceof value="org.eclipse.egit.ui.internal.repository.tree.BranchesNode"/>
		            			<instanceof value="org.eclipse.egit.ui.internal.repository.tree.LocalNode"/>
		            		</or>
		            		<test property="GitRepository.hasGerritConfiguration"/>
		            	</and>
	            	</iterate>
	            </and>
            </visibleWhen>
         </menu>
         <menu
               label="Gerrit Change Branches"
               id="me-gerrit-changes"
               icon="icons/gerrit-changes.png">
         	<command
                commandId="com.genuitec.eclipse.gerrit.tools.newChangeBranch"
                icon="icons/gerrit-new.gif">
         	</command>
         	<command
                commandId="com.genuitec.eclipse.gerrit.tools.fetchChange"
                icon="icons/gerrit-fetch.gif">
         	</command>
         	<separator
                name="gerrit-changes" 
                visible="true"/>
            <menu
            	label="Switch to Change Branch"
            	id="me-gerrit-switch"
            	icon="icons/gerrit-change.gif">
	            <dynamic
	                  id="switch-to-change"
	                  class="com.genuitec.eclipse.gerrit.tools.internal.changes.commands.ChangesActionsProvider">
	            </dynamic>
	        </menu>
	        <separator name="gerrit-cleanup" visible="true"/>
            <command
                  commandId="com.genuitec.eclipse.gerrit.tools.cleanupChanges"
                  icon="icons/gerrit-cleanup.gif">
            </command>
            <visibleWhen checkEnabled="false">
            	<and>
	            	<count value="1"/>
	            	<iterate operator="and">
	            		<and>
		            		<or>
		            			<instanceof value="org.eclipse.egit.ui.internal.repository.tree.RepositoryNode"/>
		            			<instanceof value="org.eclipse.egit.ui.internal.repository.tree.BranchesNode"/>
		            			<instanceof value="org.eclipse.egit.ui.internal.repository.tree.LocalNode"/>
		            		</or>
		            		<test property="GitRepository.hasGerritConfiguration"/>
		            	</and>
	            	</iterate>
	            </and>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.egit.ui.RepositoriesView?after=org.eclipse.egit.ui.team.Pull">
         <command
               commandId="com.genuitec.eclipse.gerrit.tools.tagAndPush"
               icon="icons/tag-and-push.gif"
               style="push"
               label="Create and Push Tag...">
            <visibleWhen checkEnabled="false">
            	<iterate operator="and">
            		<instanceof value="org.eclipse.egit.ui.internal.repository.tree.RepositoryNode"/>
            	</iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.egit.ui.RepositoriesView?after=org.eclipse.egit.ui.RepositoriesViewCreateRepository">
         <separator
               name="com.genuitec.eclipse.gerrit.tools.separator" visible="true">
         </separator>
         <command
               commandId="com.genuitec.eclipse.gerrit.tools.exportProjects"
               icon="icons/export-gps.gif"
               style="push"
               tooltip="Export Projects from Gerrit Project Set (*.gps file)">
         </command>
         <command
               commandId="com.genuitec.eclipse.gerrit.tools.importProjects"
               icon="icons/import-gps.gif"
               style="pulldown"
               tooltip="Import Projects from Gerrit Project Set (*.gps file)">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.team.ccvs.ui.RepositoriesView">
         <separator
               name="com.genuitec.eclipse.gerrit.tools.separator" visible="true">
         </separator>
         <command
               commandId="com.genuitec.eclipse.gerrit.tools.exportProjects"
               icon="icons/export-gps.gif"
               style="push"
               tooltip="Export projects from Gerrit Project Set (*.gps file)">
         </command>
         <command
               commandId="com.genuitec.eclipse.gerrit.tools.importProjects"
               icon="icons/import-gps.gif"
               style="push"
               tooltip="Import projects from Gerrit Project Set (*.gps file)">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:com.genuitec.eclipse.gerrit.tools.importProjects">
         <dynamic
               class="com.genuitec.eclipse.gerrit.tools.internal.gps.commands.QuickGpsImportCommandsProvider"
               id="com.genuitec.eclipse.gerrit.tools.quickImportDyn">
         </dynamic>
      </menuContribution>
   </extension>

</plugin>
